/*------------------------------------*\
    #BASE
\*------------------------------------*/

$base-font-size: 14px;
$base-line-height: 20px;

$brand-font-family: 'Raleway', sans-serif;
$base-font-family: 'Merriweather', serif;

$base-spacing-unit: $base-line-height;
$half-spacing-unit: $base-spacing-unit / 2;